.title{
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
  padding-top: 20px;
  margin-top: 0%;
  height: 40px;
  width: 150px;
  color: #f06292;
  font-family: 'Major Mono Display', monospace;
}